black==24.4.0
cloudevents==1.10.1
flake8==7.0.0
functions-framework==3.5.0
geopandas==0.14.4
google-cloud-firestore==2.16.0
google-cloud-storage==2.16.0
h3==3.7.7
mypy==1.10.0
mypy-extensions==1.0.0
numpy==1.26.4
pandas==2.2.2
pathlib==1.0.1
pytest==8.2.1
